html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-size: 16px;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

.container {
  width: 80px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background: lightgray;
  padding: 3px;
}

#copyButton, #pasteButton {
  background: rgb(52, 209, 209);
  border-radius: 5px;
  border-color: rgb(52, 209, 209);
  border-width: 0;
  padding: 7px;
  margin: 3px;
  font-weight: 600;
}

#copyButton:hover, #pasteButton:hover {
  background-color: aquamarine;
  transition: background-color 0.2s ease-in;
  transform: scale(1.05);
  cursor: pointer;
}
